@font-face {
    font-family: 'centurygothic_bold';
    src: url('../fonts/centurygothic_bold.eot');
    src: url('../fonts/centurygothic_bold.woff') format('woff'),
         url('../fonts/centurygothic_bold.ttf') format('truetype');
        font-weight: bold;
        font-style: normal;     
    }
 
@font-face {
    font-family: 'centurygothic';
    src: url('../fonts/centurygothic.eot');
    src: url('../fonts/centurygothic.woff') format('woff'),
         url('../fonts/centurygothic.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;     
    }