@media only screen and (max-width: 1200px){
  html{
    font-size: 14px;
  }
  .desk__inner{
    text-align: center;
  }
  .desc__inner-photo{
    display: none;
  }
  .desc__inner__text-title{
    margin: 0 0;
  }
}

@media only screen and (max-width: 992px){
  
}

@media only screen and (max-width: 768px){
  
}

@media only screen and (max-width: 480px){
  
}

@media only screen and (max-width: 320px){
  
}