@media only screen and (max-width: 1200px){
  html{
    font-size: 14px;
  }
  .desc__inner{
    display: block !important;
  }
  .desc__inner-photo{
    display: none;
  }
  .desc__inner__text{
    text-align: center !important;
    width: 70% !important;
    margin: 0 auto;
  }
  .desc__inner__text-title{
    padding: 3rem 0 !important;
  }
  .catalog{
    .container{
      max-width: 60rem !important;
    }
  }
  .catalog__inner__section__blocks__item{
    width: calc(100% * (1/2) - 5%) !important;
  }
}

@media only screen and (max-width: 992px){
  html{
    font-size: 12px;
  }
  .header-cover__text-title{
    text-align: center;
  }
}

@media only screen and (max-width: 768px){
  html{
    font-size: 10px;
  }
  .menu{
    height: 13vh !important;
    flex-direction: column;
    font-size: 2.8rem !important;
  }
  .menu__logo{
    padding-top: 2.5rem;
  }
  .menu__list{
    padding-bottom: 1rem !important;
  }
  .header-cover{
    height: 87vh;
  }
  .menu__list-item{
    padding: 0 1.5rem !important;
  }
  .catalog__inner__section__blocks{
    font-size: 2rem !important;
  }
}

@media only screen and (max-width: 480px){
  html{
    font-size: 8px;
  }
  .secondrow__contacts-item{
    height: 4rem;
    width: 4rem;
    padding-right: .78rem !important;
  }
  .menu__list{
    flex-direction: column;
    display: flex;
  }
  .menu{
    height: 18vh !important;
  }
  .header-cover{
    height: 82vh;
  }
}

@media only screen and (max-width: 320px){
  html{
    font-size: 6px;
  }
}