@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';
@import 'responsive';

.no-scroll{
  overflow-y: hidden;
}

//Header

.header{
  .container{
    max-width: 112.5rem;
  }
}

.menu{
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Courier New', arial;
  font-size: 2rem;
  &__list-item{
    padding-left: 6.25rem;
    display: inline-block;
  }
  &__list-link{
    transition: .2s ease;
    &:hover{
      color: #6b705c;
      transition: .2s ease;
    }
  }
}

.header-cover{
  background-image: url('../images/main-cover.jpeg');
  background-size: cover;
  min-height: 90vh;
  &__text{
    display: flex;
    align-items: center;
    flex-flow: column;
    -webkit-text-stroke: 1.5px black;
    font-family: 'centurygothic_bold', sans-serif;
    color: #fff;
    padding-top: 35vh;
    &-title{
      font-size: 4.5rem;
    }
    &-link{
      font-size: 2.625rem;
      cursor: pointer;
      -webkit-text-stroke: 1.1px black;
      width: 26.25rem;
      text-align: center;
      transition: .2s ease;
      &:hover{
        font-size: 2.7rem;
        transition: .2s ease;
        &:after{
          margin-top: .31rem;
          transition: .2s all;
        }
      }
      &:after{
        content: '';
        height: .13rem;
        background: #fff;
        display: block;
        margin-top: .19rem;
        transition: .2s all;
      }
    }
  }
}

//Footer

.footer{
  background-color: #f7d794;
  .container{
    max-width: 112.5rem;
  }
}

.firstrow{
  display: flex;
  justify-content: space-between;
  padding-top: 5.38rem;
  font-size: 3rem;
  &__logo{
    width: 18.75rem;
    img{
      width: 100%;
    }
  }
}

.secondrow{
  display: flex;
  justify-content: space-between;
  padding: 5.38rem 0;
  font-size: 2.25rem;
  &__contacts-item{
    display: inline-block;
    padding-right: 1.38rem;
  }
}

//Description
.desc{
  .container{
    max-width: 100rem;
  }
  &__inner{
    display: flex;
    justify-content: space-between;
    margin: 7rem 0;
    &__text{
      width: 50rem;
      text-align: right;
      &-slogan{
        font-family: 'Courier New', arial;
        font-size: 5rem;
        font-weight: 400;
      }
      &-title{
        font-family: 'Courier New', arial;
        font-size: 3rem;
        padding: 5rem 0 5rem 5rem;
      }
      &-link{
        color: #fa983a;
        font-size: 2.25rem;
        cursor: pointer;
        transition: .2s all;
        &:hover{
          font-size: 2.38rem;
          transition: .2s ease;
        }
      }
    }
  }
}

//Catalog

.catalog{
  .container{
    max-width: 87.5rem;
  }
}

.catalog-title{
  font-family: 'Courier New', arial;
  font-size: 5.63rem;
  text-align: center;
  font-weight: 400;
  padding: 3rem 0;
}

.catalog__inner__section{
  &-title{
    font-family: 'Courier New', arial;
    font-size: 4.5rem;
    text-align: center;
  }
  &__blocks{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    font-size: 1.5rem;
    padding: 8rem 0;
    flex-wrap: wrap;
    &__item{
      width: calc(100% * (1/3) - 5%);
      text-align: right;
      margin-bottom: 10rem;
      cursor: pointer;
      &-name{
        padding: .31rem 0;
      }
      &-cost{
        font-weight: 700;
      }
    }
  }
}