@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

.no-scroll{
  overflow-y: hidden;
}

//Header

.header{
  .container{
    max-width: 1800px;
  }
}

.menu{
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Courier New', arial;
  font-size: 32px;
  &__list-item{
    padding-left: 100px;
    display: inline-block;
  }
  &__list-link{
    transition: .2s ease;
    &:hover{
      color: #6b705c;
      transition: .2s ease;
    }
  }
}

.header-cover{
  background-image: url('../images/main-cover.jpeg');
  background-size: cover;
  min-height: 90vh;
  &__text{
    display: flex;
    align-items: center;
    flex-flow: column;
    -webkit-text-stroke: 1.5px black;
    font-family: 'centurygothic_bold', sans-serif;
    color: #fff;
    padding-top: 35vh;
    &-title{
      font-size: 72px;
    }
    &-link{
      font-size: 42px;
      cursor: pointer;
      -webkit-text-stroke: 1.1px black;
      width: 420px;
      text-align: center;
      transition: .2s ease;
      &:hover{
        font-size: 43px;
        transition: .2s ease;
        &:after{
          margin-top: 5px;
          transition: .2s all;
        }
      }
      &:after{
        content: '';
        height: 2px;
        background: #fff;
        display: block;
        margin-top: 3px;
        transition: .2s all;
      }
    }
  }
}

//Footer

.footer{
  background-color: #f7d794;
  .container{
    max-width: 1800px;
  }
}

.firstrow{
  display: flex;
  justify-content: space-between;
  padding-top: 86px;
  font-size: 48px;
  &__logo{
    width: 300px;
    img{
      width: 100%;
    }
  }
}

.secondrow{
  display: flex;
  justify-content: space-between;
  padding: 86px 0;
  font-size: 36px;
  &__contacts-item{
    display: inline-block;
    padding-right: 22px;
  }
}

//Description
.desc{
  .container{
    max-width: 1600px;
  }
  &__inner{
    display: flex;
    justify-content: space-between;
    margin: 10vh 0 8vh;
    &__text{
      width: 45vw;
      text-align: right;
      &-slogan{
        font-family: 'Courier New', arial;
        font-size: 80px;
        font-weight: 400;
      }
      &-title{
        font-family: 'Courier New', arial;
        font-size: 48px;
        padding: 5vh 0 5vh 5vw;
      }
      &-link{
        color: #fa983a;
        font-size: 36px;
        cursor: pointer;
        transition: .2s all;
        &:hover{
          font-size: 38px;
          transition: .2s ease;
        }
      }
    }
  }
}

//Catalog

.catalog{
  .container{
    max-width: 1400px;
  }
}

.catalog-title{
  font-family: 'Courier New', arial;
  font-size: 90px;
  text-align: center;
  font-weight: 400;
  padding: 5vh 0;
}

.catalog__inner__section{
  &-title{
    font-family: 'Courier New', arial;
    font-size: 72px;
    text-align: center;
  }
  &__blocks{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    font-size: 24px;
    padding: 10vh 0;
    flex-wrap: wrap;
    &__item{
      width: calc(100% * (1/3) - 5%);
      text-align: right;
      margin-bottom: 13vh;
      cursor: pointer;
      &-name{
        padding: 5px 0;
      }
      &-cost{
        font-weight: 700;
      }
    }
  }
}

// Popup item

.popup {
  &__bg-item {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    display: none;
  }
  &-item-rows{
    display: flex;
  }
}
.popup-item {
  background: #fff;
  width: 50vw;
  height: 70vh;
  padding: 1% 1% 1% 2%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  &-close{
    height: 10%;
    cursor: pointer;
    margin-left: auto;
  }
  &-pic{
    height: 65vh;
    margin-top: 2%;
    display: block;
  }
  &__info{
    text-align: center;
    height: 100%;
    &-name{
      font-size: 40px;
      font-weight: 700;
      margin-top: 20vh;
    }
    &-price{
      font-weight: 700;
      font-size: 24px;
      color: #7F8C8D;
      margin-bottom: 20vh;
    }
    &-button{
      font-size: 20px;
      cursor: pointer;
      padding: 8px 24px;
      border: 2px solid;
      color: #43A047;
      border-radius: 20px;
      text-transform: uppercase;
      font-weight: 700;
      transition: .2s linear;
      &:hover{
        transform: scale(1.06);
        transition: .2s linear;
      }
    }
  }
  &-row2{
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    width: 24vw;
  }
}
